{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>Create Activity</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="title" placeholder="Title" required>
        <textarea name="description" placeholder="Description" required></textarea>
        <input type="text" name="location" placeholder="Location" required>
        <input type="date" name="date" required>
        <input type="time" name="time" required>
        <input type="number" name="max_participants" min="1" required>

        <button class="btn-primary">Post Activity</button>
    </form>
</div>

{% endblock %}